client/flows.nodered
[{"id":"40e8834d.edadec","type":"tab","label":"Rooms","disabled":false,"info":"This is the simulated 255 for the Alarmy system"},{"id":"3b13f6a2.b0c7aa","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"a74eff41.4f68c","type":"mqtt-broker","z":"","name":"LocalHiveMq","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"84ece382.e0179","type":"mqtt-broker","z":"","name":"","broker":"172.17.0.4","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a71e6a2f.8bc138","type":"mqtt out","z":"40e8834d.edadec","name":"Broker","topic":"","qos":"","retain":"","broker":"84ece382.e0179","x":687.5000114440918,"y":334.5000057220459,"wires":[]},{"id":"43c0592.fde33a8","type":"inject","z":"40e8834d.edadec","name":"door lightsensor","topic":"p2/alarmy/255/door/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168,"y":147,"wires":[["c0acead9.fe3f18"]]},{"id":"8a440b4d.015728","type":"inject","z":"40e8834d.edadec","name":"door magneticsensor","topic":"p2/alarmy/255/door/sensor/magnetic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147,"y":222,"wires":[["c0acead9.fe3f18"]]},{"id":"634642c9.b3291c","type":"inject","z":"40e8834d.edadec","name":"window1 magneticsensor","topic":"p2/alarmy/255/window1/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":275,"wires":[["c0acead9.fe3f18"]]},{"id":"d4b52ec8.5a80b","type":"inject","z":"40e8834d.edadec","name":"window2 magneticsensor","topic":"p2/alarmy/255/window2/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":156,"y":323,"wires":[["c0acead9.fe3f18"]]},{"id":"af8caf81.2c9da","type":"inject","z":"40e8834d.edadec","name":"Initialize sensors","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":177,"y":51,"wires":[["2be6b6d5.c309ba"]]},{"id":"2be6b6d5.c309ba","type":"function","z":"40e8834d.edadec","name":"init sensors","func":"var msg1 = {topic:\"p2/alarmy/255/door/sensor/lightsensor/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg2 = {topic:\"p2/alarmy/255/door/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg3 = {topic:\"p2/alarmy/255/window1/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg4 = {topic:\"p2/alarmy/255/window2/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg5 = {topic:\"p2/alarmy/255/window3/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg6 = {topic:\"p2/alarmy/255/window4/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg7 = {topic:\"p2/alarmy/255/window5/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg8 = {topic:\"p2/alarmy/255/window6/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\n\nreturn [[msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8]];","outputs":1,"noerr":0,"x":421,"y":51,"wires":[["f3b91ec3.eb34e"]]},{"id":"f3b91ec3.eb34e","type":"mqtt out","z":"40e8834d.edadec","name":"","topic":"","qos":"","retain":"","broker":"84ece382.e0179","x":606,"y":50,"wires":[]},{"id":"753298c8.c3d138","type":"inject","z":"40e8834d.edadec","name":"window3 magneticsensor","topic":"p2/alarmy/255/window3/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":374,"wires":[["c0acead9.fe3f18"]]},{"id":"f1b98225.f3002","type":"inject","z":"40e8834d.edadec","name":"window4 magneticsensor","topic":"p2/alarmy/255/window4/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":424,"wires":[["c0acead9.fe3f18"]]},{"id":"61a207c7.7ee338","type":"inject","z":"40e8834d.edadec","name":"window5 magneticsensor","topic":"p2/alarmy/255/window5/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":471,"wires":[["c0acead9.fe3f18"]]},{"id":"ba3a2d4f.2c315","type":"inject","z":"40e8834d.edadec","name":"window6 magneticsensor","topic":"p2/alarmy/255/window6/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":512,"wires":[["c0acead9.fe3f18"]]},{"id":"c0acead9.fe3f18","type":"function","z":"40e8834d.edadec","name":"alert","func":"\nvar msg1 = {topic:msg.topic, payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"alert\\\"}\"};\nreturn msg1;","outputs":1,"noerr":0,"x":461,"y":335,"wires":[["a71e6a2f.8bc138"]]},{"id":"7737289f.293dc8","type":"inject","z":"40e8834d.edadec","name":"door lightsensor","topic":"p2/alarmy/256/door/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147,"y":724,"wires":[["5dc50056.6dbf6"]]},{"id":"84846b67.2c3688","type":"inject","z":"40e8834d.edadec","name":"door magneticsensor","topic":"p2/alarmy/256/door/sensor/magnetic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126,"y":799,"wires":[["5dc50056.6dbf6"]]},{"id":"f7992c50.7025d","type":"inject","z":"40e8834d.edadec","name":"window1 magneticsensor","topic":"p2/alarmy/256/window1/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134,"y":852,"wires":[["5dc50056.6dbf6"]]},{"id":"6aed92f.b32a06c","type":"inject","z":"40e8834d.edadec","name":"window2 magneticsensor","topic":"p2/alarmy/256/window2/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":900,"wires":[["5dc50056.6dbf6"]]},{"id":"2f8153b0.9a366c","type":"inject","z":"40e8834d.edadec","name":"window3 magneticsensor","topic":"p2/alarmy/256/window3/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":951,"wires":[["5dc50056.6dbf6"]]},{"id":"1ad4bb5d.60d4b5","type":"inject","z":"40e8834d.edadec","name":"window4 magneticsensor","topic":"p2/alarmy/256/window4/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":1001,"wires":[["5dc50056.6dbf6"]]},{"id":"3fed32e2.f88b1e","type":"inject","z":"40e8834d.edadec","name":"window5 magneticsensor","topic":"p2/alarmy/256/window5/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":1048,"wires":[["5dc50056.6dbf6"]]},{"id":"43ceb9c3.2969c8","type":"inject","z":"40e8834d.edadec","name":"window6 magneticsensor","topic":"p2/alarmy/256/window6/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":139,"y":1089,"wires":[["5dc50056.6dbf6"]]},{"id":"5dc50056.6dbf6","type":"function","z":"40e8834d.edadec","name":"alert","func":"\nvar msg1 = {topic:msg.topic, payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"alert\\\"}\"};\nreturn msg1;","outputs":1,"noerr":0,"x":438,"y":923,"wires":[["59c36ef8.5f59f"]]},{"id":"59c36ef8.5f59f","type":"mqtt out","z":"40e8834d.edadec","name":"Broker","topic":"","qos":"","retain":"","broker":"84ece382.e0179","x":663,"y":922,"wires":[]},{"id":"401db255.c3402c","type":"inject","z":"40e8834d.edadec","name":"Initialize sensors","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":627,"wires":[["c8e7263e.0ecd38"]]},{"id":"c8e7263e.0ecd38","type":"function","z":"40e8834d.edadec","name":"init sensors","func":"var msg1 = {topic:\"p2/alarmy/256/door/sensor/lightsensor/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg2 = {topic:\"p2/alarmy/256/door/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg3 = {topic:\"p2/alarmy/256/window1/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg4 = {topic:\"p2/alarmy/256/window2/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg5 = {topic:\"p2/alarmy/256/window3/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg6 = {topic:\"p2/alarmy/256/window4/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg7 = {topic:\"p2/alarmy/256/window5/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg8 = {topic:\"p2/alarmy/256/window6/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\n\nreturn [[msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8]];","outputs":1,"noerr":0,"x":379,"y":627,"wires":[["a6f70cc4.51bf4"]]},{"id":"a6f70cc4.51bf4","type":"mqtt out","z":"40e8834d.edadec","name":"","topic":"","qos":"","retain":"","broker":"84ece382.e0179","x":564,"y":626,"wires":[]},{"id":"932fc08.e15d24","type":"mqtt in","z":"3b13f6a2.b0c7aa","name":"Debug","topic":"p2/#","qos":"2","broker":"84ece382.e0179","x":109,"y":132,"wires":[["bc220413.a8a978"]]},{"id":"bc220413.a8a978","type":"debug","z":"3b13f6a2.b0c7aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":303,"y":132,"wires":[]},{"id":"57e71f90.ece2f","type":"mqtt in","z":"3b13f6a2.b0c7aa","name":"","topic":"p2/alarmy/","qos":"2","broker":"84ece382.e0179","x":98,"y":65,"wires":[["9f6b4bf8.1117c8"]]},{"id":"9f6b4bf8.1117c8","type":"debug","z":"3b13f6a2.b0c7aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":353,"y":66,"wires":[]},{"id":"15fc8e2.7d20972","type":"mqtt in","z":"3b13f6a2.b0c7aa","name":"","topic":"p2/alarmy/","qos":"2","broker":"84ece382.e0179","x":97,"y":282,"wires":[["d5926a7d.939ca8"]]},{"id":"d5926a7d.939ca8","type":"function","z":"3b13f6a2.b0c7aa","name":"Alarm","func":"msg.payload = \"Alarm!\";\nreturn msg;","outputs":1,"noerr":0,"x":274,"y":280,"wires":[["c63a06c0.8e9a68"]]},{"id":"c63a06c0.8e9a68","type":"debug","z":"3b13f6a2.b0c7aa","name":"Sirene","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":434,"y":281,"wires":[]}]