flows.nodered
[{"id":"efb7b218.087f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d528e928.02f898","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e95a2648.0f8c98","type":"mqtt-broker","z":"","name":"LocalHiveMq","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6f49a6d7.d52218","type":"inject","z":"efb7b218.087f","name":"","topic":"","payload":"{\"temp\":31}","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["98c1273d.e18378"]]},{"id":"98c1273d.e18378","type":"mqtt out","z":"efb7b218.087f","name":"","topic":"/test/temp","qos":"","retain":"","broker":"e95a2648.0f8c98","x":480,"y":200,"wires":[]},{"id":"b234cb1f.8d1e58","type":"mqtt in","z":"d528e928.02f898","name":"","topic":"/test/temp","qos":"2","broker":"e95a2648.0f8c98","x":290,"y":240,"wires":[["e19b0290.f64da"]]},{"id":"e19b0290.f64da","type":"debug","z":"d528e928.02f898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":340,"wires":[]},{"id":"caae16c1.9c9598","type":"inject","z":"efb7b218.087f","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[[]]}]