flows.nodered
[{"id":"40e8834d.edadec","type":"tab","label":"255","disabled":false,"info":"This is the simulated 255 for the Alarmy system"},{"id":"a74eff41.4f68c","type":"mqtt-broker","z":"","name":"LocalHiveMq","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"84ece382.e0179","type":"mqtt-broker","z":"","name":"","broker":"172.17.0.4","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a71e6a2f.8bc138","type":"mqtt out","z":"40e8834d.edadec","name":"Broker","topic":"","qos":"","retain":"","broker":"84ece382.e0179","x":695,"y":337,"wires":[]},{"id":"43c0592.fde33a8","type":"inject","z":"40e8834d.edadec","name":"door lightsensor","topic":"p2/alarmy/255/door/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168,"y":147,"wires":[["c0acead9.fe3f18"]]},{"id":"8a440b4d.015728","type":"inject","z":"40e8834d.edadec","name":"door magneticsensor","topic":"p2/alarmy/255/door/sensor/magnetic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147,"y":222,"wires":[["c0acead9.fe3f18"]]},{"id":"634642c9.b3291c","type":"inject","z":"40e8834d.edadec","name":"window1 magneticsensor","topic":"p2/alarmy/255/window1/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":275,"wires":[["c0acead9.fe3f18"]]},{"id":"d4b52ec8.5a80b","type":"inject","z":"40e8834d.edadec","name":"window2 magneticsensor","topic":"p2/alarmy/255/window2/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":156,"y":323,"wires":[["c0acead9.fe3f18"]]},{"id":"af8caf81.2c9da","type":"inject","z":"40e8834d.edadec","name":"Initialize sensors","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":177,"y":51,"wires":[["2be6b6d5.c309ba"]]},{"id":"2be6b6d5.c309ba","type":"function","z":"40e8834d.edadec","name":"init sensors","func":"var msg1 = {topic:\"p2/alarmy/255/door/sensor/lightsensor/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg2 = {topic:\"p2/alarmy/255/door/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg3 = {topic:\"p2/alarmy/255/window1/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg4 = {topic:\"p2/alarmy/255/window2/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg5 = {topic:\"p2/alarmy/255/window3/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg6 = {topic:\"p2/alarmy/255/window4/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg7 = {topic:\"p2/alarmy/255/window5/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\nvar msg8 = {topic:\"p2/alarmy/255/window6/sensor/magnetic/\", payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"activation\\\"}\"};\n\nreturn [[msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8]];","outputs":1,"noerr":0,"x":421,"y":51,"wires":[["f3b91ec3.eb34e"]]},{"id":"f3b91ec3.eb34e","type":"mqtt out","z":"40e8834d.edadec","name":"","topic":"","qos":"","retain":"","broker":"84ece382.e0179","x":606,"y":50,"wires":[]},{"id":"a7a97f1c.84ba2","type":"mqtt in","z":"40e8834d.edadec","name":"Debug","topic":"p2/#","qos":"2","broker":"84ece382.e0179","x":436,"y":696,"wires":[["cf3377e6.eb6748"]]},{"id":"cf3377e6.eb6748","type":"debug","z":"40e8834d.edadec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":696,"wires":[]},{"id":"753298c8.c3d138","type":"inject","z":"40e8834d.edadec","name":"window3 magneticsensor","topic":"p2/alarmy/255/window3/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":374,"wires":[["c0acead9.fe3f18"]]},{"id":"f1b98225.f3002","type":"inject","z":"40e8834d.edadec","name":"window4 magneticsensor","topic":"p2/alarmy/255/window4/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":424,"wires":[["c0acead9.fe3f18"]]},{"id":"61a207c7.7ee338","type":"inject","z":"40e8834d.edadec","name":"window5 magneticsensor","topic":"p2/alarmy/255/window5/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":471,"wires":[["c0acead9.fe3f18"]]},{"id":"ba3a2d4f.2c315","type":"inject","z":"40e8834d.edadec","name":"window6 magneticsensor","topic":"p2/alarmy/255/window6/sensor/magnetic/","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":512,"wires":[["c0acead9.fe3f18"]]},{"id":"c0acead9.fe3f18","type":"function","z":"40e8834d.edadec","name":"alert","func":"\nvar msg1 = {topic:msg.topic, payload:\"{\\\"type\\\":300, \\\"content\\\":\\\"alert\\\"}\"};\nreturn msg1;","outputs":1,"noerr":0,"x":461,"y":335,"wires":[["a71e6a2f.8bc138"]]}]