flows.nodered
[{"id":"89f0179a.f965c8","type":"tab","label":"groundfloor","disabled":false,"info":"This is the simulated groundfloor for the Alarmy system"},{"id":"3290acc9.e3ebe4","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"288dde89.32d572","type":"mqtt-broker","z":"","name":"Broker","broker":"172.18.251.90","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a73d783f.017288","type":"mqtt-broker","z":"","name":"","broker":"192.168.99.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6e3490d7.04b53","type":"mqtt out","z":"89f0179a.f965c8","name":"Broker","topic":"","qos":"","retain":"","broker":"a73d783f.017288","x":949,"y":227,"wires":[]},{"id":"4c639329.a243dc","type":"debug","z":"3290acc9.e3ebe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":339,"wires":[]},{"id":"6b577b27.cf19f4","type":"inject","z":"89f0179a.f965c8","name":"FoyerDoor","topic":"p2/alarmy/foyer/door/sensor/magnetic/","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":230,"wires":[["20621405.a8626c"]]},{"id":"20621405.a8626c","type":"function","z":"89f0179a.f965c8","name":"Random Number Generator","func":"rnd = Math.round(Math.random() * 1)\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":684,"y":227,"wires":[["6e3490d7.04b53"]]},{"id":"abbc7402.2bf6c8","type":"mqtt in","z":"3290acc9.e3ebe4","name":"Broker","topic":"p2/#","qos":"2","broker":"288dde89.32d572","x":287,"y":339,"wires":[["4c639329.a243dc"]]},{"id":"c885008f.7b82c","type":"inject","z":"89f0179a.f965c8","name":"FoyerWindow1","topic":"p2/alarmy/foyer/window1/sensor/magnetic/","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["20621405.a8626c"]]},{"id":"d656c388.8ac43","type":"inject","z":"89f0179a.f965c8","name":"KitchenDoor","topic":"p2/alarmy/1/window1/sensor/magnetic/","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":198,"y":528,"wires":[["20621405.a8626c"]]},{"id":"8c6c8909.6587a8","type":"inject","z":"89f0179a.f965c8","name":"KitchenWindow","topic":"p2/alarmy/kitchen/window1/sensor/magnetic/","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":206,"y":592,"wires":[["20621405.a8626c"]]},{"id":"6b823465.1b0e2c","type":"inject","z":"89f0179a.f965c8","name":"KitchenWindow2","topic":"p2/alarmy/kitchen/window2/sensor/magnetic/","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":206,"y":654,"wires":[["20621405.a8626c"]]}]